.citySection {
  position: relative;
  width: 250px;
  margin: 1rem auto;
}

.citySection input {
  width: 100%;
  padding: 0.6rem 0.8rem;
  border-radius: 14px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  font-family: inherit;
  font-size: 1rem;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  color: white;
  outline: none;
  transition: all 0.2 ease;
}

.citySection input:focus {
  border-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.15);
}

.citySection input:hover {
  border-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.15);
}

.cityList {
  position: "absolute";
  top: "100%";
  left: 0;
  right: 0;
  margin: 0.2rem 0 0;
  background: rgba(44, 87, 130, 0.25);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  list-style: none;
  padding: 0;
  max-height: 200;
  overflow-y: auto;
  z-index: 10;
}

.cityItem {
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.cityItem:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
