.glass {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.1); /* glass bg */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /*for Safari*/
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  margin: 0.5rem 0;
}
