.weatherOverview {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* for Safari*/
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
